*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color:#9c217d;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color:#9c217d;
    margin-left: 10%;
}

#titulo2 {
    font-family: sans-serif;
    color:#9c217d;
    margin-left: -6%;
    margin-top: 25%;
}

#subtitulo2 {
    font-family: sans-serif;
    color:#9c217d;
    margin-left: center;
    margin-top: 2%;
}

#emoji {
    font-family: sans-serif;
    color:#9c217d;
    margin-left: 16%;
    margin-top: 2%;
}

#check {
    display: inline-block;
}

fieldset {
    border:0;
}

body {
    background-color:#fff0f9;
    font-family: sans-serif;
    font-size: 1em;
    color: #9c217d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    font-family: sans-serif;
    font-size: 1em;
    color: #9c217d;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #9c217d;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #9c217d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #f8e0f2
}

.botao {
    font-size: 1.2em;
    background: #9c217d;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #f8a5dc;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow:none;
}

.botao, select{
    cursor: pointer;
}